<div class="all">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{comentario.titulo}}</h5>
                <span class="hora"><a routerLink="/comentario/{{comentario.id_comentario}}">{{fecha(comentario.createdAt)}}</a></span>
                <span class="usuario"><a >{{comentario.usuario.email}}</a></span>
            </div>
            <div class="card-body">
                <p class="card-text">{{comentario.texto}}</p>
            </div>
        </div>
</div>
<app-comentario [comentario_padre]=comentario.id_comentario></app-comentario>
