<div class="container">
    <div class="login">

        <h2 class="login-header bg-dark">Create an account</h2>

        <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
            <p><input type="email" name="nombre" placeholder="Name" ngModel required autocomplete="off"></p>
            <p><input type="email" name="apellido" placeholder="Last Name" ngModel required autocomplete="off"></p>
            <p><input type="email" name="email" placeholder="Email" ngModel required autocomplete="off"></p>
            <p><input type="password" placeholder="Password" name="contrasena" ngModel required autocomplete="off"></p>
            <p><input type="submit" value="Create" class="bg-dark"></p>
        </form>
    </div>
</div>