  <nav class="navbar navbar-expand-lg navbar-dark bg-dark all">
    <a class="navbar-brand" href="/">SKEREEE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/home">Inicio</a>
        <a class="nav-item nav-link" href="/userlist">Lista de Usuarios</a>
        <a class="nav-item nav-link" href="/form">Formularios</a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </nav>